name: ready_form
description: A new Flutter package project.
version: 0.0.1
homepage: https://github.com/mo-ah-dawood/ready

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
